:root {
    --white: white;
    --red: #DF2B1D;
    --yellow: #F5CA41;
    --blue: #1521A7;
    --dark: #0D0105;

    --background-color: whitesmoke;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {}

.canvas {}

.cell {}

.cell--a {}

.cell--b {}

/* ... */